<div>

    <label class="file-upload info">
        <input type="file" name="fileToUpload" id="fileToUpload" (change)="handleFileInput($event.target.files)" accept=".pdf">
        Upload new PDF
      </label>

      
    <!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>-->

    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource"
           matSort matSortActive="created_at" matSortDirection="desc" matSortDisableClear>

        <ng-container matColumnDef="filename">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Filename</mat-header-cell>
            <mat-cell *matCellDef="let file">{{file.filename}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileSize">
            <mat-header-cell *matHeaderCellDef mat-sort-header>FileSize</mat-header-cell>
            <mat-cell class="description-cell"
                    *matCellDef="let file">{{file.fileSize}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="filePath">
            <mat-header-cell *matHeaderCellDef mat-sort-header>FilePath</mat-header-cell>
            <mat-cell class="description-cell"
                    *matCellDef="let file">{{file.filePath}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
            <mat-cell class="duration-cell"
                    *matCellDef="let file">{{file.created_at}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="modified_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Modified At</mat-header-cell>
            <mat-cell class="duration-cell"
                    *matCellDef="let file">{{file.modified_at}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [length]="dataSource.size$ | async" [pageSize]="5"
                   [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</div>